@page "/GetTypeWorkDetail/{Id}"

<PageTitle>TypeWorkDetail</PageTitle>

@attribute [StreamRendering]
@rendermode RenderMode.InteractiveServer

@inject IHttpClientFactory clientFactory

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@typeWork.Id</td>
            <td>@typeWork.Title</td>
        </tr>
    </tbody>
</table>

@code {
    private HttpClient httpClient = null;

    private TypeWork typeWork = new TypeWork();

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        httpClient = clientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7101/api/typeWork");

        await Get();
    }

    private async Task Get()
    {
        HttpResponseMessage response = await httpClient.GetAsync($"{httpClient.BaseAddress}/{Id}");
        string apiResponse = await response.Content.ReadAsStringAsync();

        JObject json = JObject.Parse(apiResponse);
        JToken data = json["data"];

        typeWork = data.ToObject<TypeWork>();
    }

    private async Task Delete(int id)
    {
        HttpResponseMessage response = await httpClient.DeleteAsync($"{httpClient.BaseAddress}/{id}");

        await Get();
    }
}
