@page "/Login"

@layout 

@inject NavigationManager navigationManager

<PageTitle>Login</PageTitle>

<div class="card-body p-4">
    <form>
        <div class="text-danger"></div>       
    </form>

</div>
@code {
    private async Task Submit()
    {             
        navigationManager.NavigateTo("/");
    }
}
