@page "/CreateDevice"

<h2>Создание устройства</h2>
 
<table>
    
</table>

@code {
    private Device device = new Device();

    protected override async Task OnInitializedAsync()
    {
     
    }

    private async Task Submit()
    {    
        navigationManager.NavigateTo("GetDevices");
    }
}