@page "/GetDevices"

<PageTitle>Devices</PageTitle>


@if (devices.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{

}

@code {
    private async Task Delete(int id)
    {  
        await Get();
    }
}
