@page "/UpdateDevice/{Id}"

@attribute [StreamRendering]
@rendermode RenderMode.InteractiveServer

@inject IHttpClientFactory clientFactory
@inject NavigationManager navigationManager

<PageTitle>Update Device</PageTitle>

<h2>Редактирование устройства</h2>

<table>
    <div class="form-group">
        <p>
            <label class="control-label">Id</label>
            <input class="form-control" readonly="readonly" @bind-value="device.Id" />
        </p>
        <p>
            <label class="control-label">Title</label>
            <input class="form-control" @bind-value="device.Title" />
        </p>

        <p>
            <button class="btn btn-success" @onclick="Submit">Сохранить</button>
        </p>
    </div>
</table>

@code {
    private HttpClient httpClient = null;

    private Device device = new Device();

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        httpClient = clientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7101/api/device");

        await GetDeviceDetail(int.Parse(Id));
    }

    private async Task GetDeviceDetail(int id)
    {
        HttpResponseMessage response = await httpClient.GetAsync($"{httpClient.BaseAddress}/{id}");
        string apiResponse = await response.Content.ReadAsStringAsync();

        JObject json = JObject.Parse(apiResponse);
        JToken data = json["data"];

        if (data != null)
        {
            device = data.ToObject<Device>();
        }
    }

    private async Task Submit()
    {
        HttpResponseMessage response = await httpClient.PutAsJsonAsync($"{httpClient.BaseAddress}/{device.Id}", device);
        string apiResponse = await response.Content.ReadAsStringAsync();

        JObject json = JObject.Parse(apiResponse);
        JToken data = json["data"];

        device = data.ToObject<Device>();

        navigationManager.NavigateTo("GetDevices");
    }
}