@page "/GetFormatDetail/{Id}"

@attribute [StreamRendering]
@rendermode RenderMode.InteractiveServer

@inject IHttpClientFactory clientFactory

<PageTitle>FormatDetail</PageTitle>

<h2>Детали формата</h2>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@format.Id</td>
            <td>@format.Title</td>
        </tr>
    </tbody>
</table>

@code {
    private HttpClient httpClient = null;

    private Format format = new Format();

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        httpClient = clientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7101/api/format");

        await GetDetails(int.Parse(Id));
    }

    private async Task GetDetails(int id)
    {
        HttpResponseMessage response = await httpClient.GetAsync($"{httpClient.BaseAddress}/{id}");
        string apiResponse = await response.Content.ReadAsStringAsync();

        JObject json = JObject.Parse(apiResponse);
        JToken data = json["data"];

        format = data.ToObject<Format>();
    }
}