blePrint</th>
            <th>FormatTitle</th>
            <th>Quantity</th>
            <th>StatusWork</th>          
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>@work.Id</td>
            <td>@work.OrderId</td>
      